/* =========================================
   Battle of the Stands
   Footer
   ========================================= */


.site-footer {

    background:#050812;

    border-top:1px solid rgba(255,255,255,.1);

    padding:40px 20px;

    text-align:center;

}


.site-footer p {

    margin:8px;

    color:#9CA3AF;

}


.site-footer p:first-child {

    color:white;

    font-weight:bold;

} 